<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td></td>  <td>PRELIMINARY DRAFT SCHEDULE</td> </tr>
      <tr> <td></td>  <td><b>Day 1: Monday, 25 Oct 2021</b></td> </tr>
      <tr> <td>Before</td>  <td>Participants are encouraged to do <a href="01-day-one-advanced-assignment">day 1 advanced assignment</a> and <a href="setup">follow setup instructions</a> a day before the workshop</td> </tr>
      <tr> <td>09:00 – 09:15</td>  <td>Welcome by Dr. Dmitry Schigel</td> </tr>
      <tr> <td>09:15 – 10:00</td>  <td><a href="02-day-one-schigel-data-citizen">Data as a First Class Research Citizen</a> by Dr. Dmitry Schigel</td> </tr>
      <tr> <td>10:00 – 10:15</td>  <td>Break</td> </tr>
      <tr> <td>10:15 – 12:00</td>  <td><a href="03-day-one-group-assignment-part-one">Group Assignment Day 1. Part 1. (under construction)</a></td> </tr>
      <tr> <td>12:00 – 14:30</td>  <td>break</td> </tr>
      <tr> <td>14:30 – 15:00</td>  <td>Group Reports / Discussion</td> </tr>
      <tr> <td>15:00 – 15:15</td>  <td><a href="04-day-one-poelen-data">Interaction Data management, re-use and publication</a> by Jorrit Poelen</td> </tr>
      <tr> <td>15:15 – 16:30</td>  <td><a href="05-day-one-group-assignment-part-two">Group Assignment Day 1. Part 2. (under construction)</a></td> </tr>
      <tr> <td>16:30 – 17:00</td>  <td>Collaborative Writing of Blog Post summary day 1.</td> </tr>
      <tr> <td></td>  <td>PRELIMINARY DRAFT SCHEDULE</td> </tr>
      <tr> <td></td>  <td><b>Day 2: Friday, 29 October 2021</b></td> </tr>
      <tr> <td>Before</td>  <td>Participants are encouraged to do <a href="06-day-two-advanced-assignment">day 2 advanced assignment</a> and <a href="setup">follow setup instructions</a> a day before the workshop</td> </tr>
      <tr> <td>09:00 – 10:00</td>  <td><a href="07-day-two-hackett-network-ecology">Introduction to Network Ecology by Dr. Talya Hackett</a></td> </tr>
      <tr> <td>10:00 – 10:30</td>  <td>Q&A and Discussion</td> </tr>
      <tr> <td>10:30 – 12:00</td>  <td><a href="08-day-two-group-assignment-part-one">Group Assignments Day 2. Part 1. (under construction)</a></td> </tr>
      <tr> <td>12:00 – 14:30</td>  <td>break</td> </tr>
      <tr> <td>14:30 – 15:00</td>  <td>Group Reports / Discussion</td> </tr>
      <tr> <td>15:00 – 15:15</td>  <td><a href="09-day-two-poelen-analysis">Hands-on Interaction Data analysis and visualization using existing datasets and openly available tools</a> by Jorrit Poelen</td> </tr>
      <tr> <td>15:15 – 16:30</td>  <td><a href="10-day-two-group-assignment-part-two">Group Assignment Day 2. Part 2. (under construction)</a></td> </tr>
      <tr> <td>16:30 – 17:00</td>  <td>Collaborative Writing of Blog Post summary day 2, end.</td> </tr>
    </table>
    <table class="table table-striped">
    </table>
  </div>
</div>
